@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.header {
    background-color: #1f2937;
    width: 100%;
    padding: 20px 100px 100px;;
    overflow: hidden
}

.top {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #e5e7eb;
}

a:hover {
    color: #e5e7eb62; 
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.logo {
    max-width: 100px;
    font-weight: 900;
    font-style: italic;
}

h1 {
    color: #f9faf8;
    font-weight: 900;
}

p {
    color: #e5e7eb;
    font-size: 14px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.title {
    flex: 1 1 50%;
    text-align: left;
    margin-right: 20px;
}

.landscape {
    flex: 1 1 auto;
    height: auto;
    max-width: 400px;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px
}

.images {
    width: 100px;
    height: auto;
}