@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,900;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.header {
    background-color: #1f2937;
    width: 100%;
    padding: 20px 50px 50px;
    overflow: hidden;
}

.top {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #e5e7eb;
}

a:hover {
    color: #e5e7eb62; 
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.logo {
    max-width: 100px;
    font-weight: 900;
    font-style: italic;
    color: #e5e7eb;
    font-size: 14px;
}

h1 {
    color: #f9faf8;
    font-weight: 900;
}

.subtitle {
    color: #e5e7ebd8;
    font-size: 18px;
    font-style: light italic;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.title {
    flex: 1 1 50%;
    text-align: left;
    margin-right: 20px;
}

.landscape {
    flex: 1 1 auto;
    height: auto;
    max-width: 400px;
    object-fit: cover;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 20px 0 50px 0;
}

.images {
    width: auto;
    height: 150px;
    border: #3882f6 solid 5px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    max-width: 200px;
    color: #1f2937;
    font-weight: bold;
}

.quote {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937; 
    margin: 100px 0 100px 0;
    background-color: #b4bbc7;
    padding: 100px;
}

